@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  
  body {
    @apply text-gray-900 dark:text-gray-100;
  }
}

@keyframes bounce-x {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(25%); }
}

.animate-bounce-x {
  animation: bounce-x 1s infinite;
}
